name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ 'main', '[0-9]+.[0-9]+', '[0-9]+.[0-9]+.[0-9]+' ]

env:
  ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_PORTAL_USERNAME }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PORTAL_PASSWORD }}

jobs:
  windows:
    name: "Publish: multiplatform, jvm, js, linux, mingw"
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: 'Set Gradle project version'
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        shell: bash
        run: echo "ORG_GRADLE_PROJECT_version=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Clean
        if: ${{ false }} # Skip, since it fails on Windows: https://youtrack.jetbrains.com/issue/KT-50545/
        run: .\gradlew.bat clean

      - name: Publish to Maven
        run: >-
          .\gradlew.bat
          publishKotlinMultiplatformPublicationToMavenCentralRepository
          publishJvmPublicationToMavenCentralRepository
          publishJsPublicationToMavenCentralRepository
          publishLinuxX64PublicationToMavenCentralRepository
          publishLinuxArm64PublicationToMavenCentralRepository
          publishMingwX64PublicationToMavenCentralRepository

  macos:
    name: "Publish: macos, ios, watchos"
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: 'Set Gradle project version'
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        shell: bash
        run: echo "ORG_GRADLE_PROJECT_version=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Clean
        run: ./gradlew clean

      - name: Publish to Maven
        run: >-
          ./gradlew
          publishMacosX64PublicationToMavenCentralRepository
          publishMacosArm64PublicationToMavenCentralRepository
          publishIosSimulatorArm64PublicationToMavenCentralRepository
          publishIosX64PublicationToMavenCentralRepository
          publishWatchosSimulatorArm64PublicationToMavenCentralRepository
          publishWatchosX64PublicationToMavenCentralRepository
          publishWatchosArm32PublicationToMavenCentralRepository
          publishWatchosArm64PublicationToMavenCentralRepository
          publishTvosSimulatorArm64PublicationToMavenCentralRepository
          publishTvosX64PublicationToMavenCentralRepository
          publishTvosArm64PublicationToMavenCentralRepository
          publishIosArm64PublicationToMavenCentralRepository
          publishWatchosDeviceArm64PublicationToMavenCentralRepository
